{% extends 'base.html' %}

{% block jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Our Mission</h1>
        <p>Our Mission</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="{% url 'aboutus' %}">Learn More &raquo;</a></p>
      </div>
    </div>

{% endblock %}

{% block content %}
<h1>Join our email list now!</h1>
			
<form method='POST' action=''> {% csrf_token %}
	{{form.as_p}}

	<input type='submit' class='btn btn-success btn-lg'>
</form>

{% endblock %}